@{Layout = null;}
@using FoxOne.Business
@using FoxOne.Controls
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @System.Web.Optimization.Styles.Render("~/style/common.css")
    @System.Web.Optimization.Scripts.Render("~/script/common.js")
    @System.Web.Optimization.Scripts.Render("~/script/widget.js")
    <style>
        html, body {
            background-color: #EEE;
        }

        fieldset {
            width: 700px;
            text-align: left;
            padding: 20px;
            border: 1px solid #CCC;
            vertical-align: middle;
            background-color: white;
            margin: auto;
            margin-top: 50px;
            border-radius: 5px;
        }

        legend {
            font-size: 14px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div style="text-align:center;width:100%;">
        <fieldset>
            <legend>导出</legend>
            <form action="/PageDesigner/BatchExport" id="importForm" method="post" enctype="multipart/form-data">
                <div class="form-group form-horizontal">
                    <div class="form-inline">
                        <input type="text" class="form-control" placeholder="最后更新时间" id="LastUpdateTime" name="LastUpdateTime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />

                        <input type="submit" class="btn btn-success btn-big" value="按更新时间批量导出" />

                    </div>
                </div>
            </form>
        </fieldset>
        <fieldset>
            <legend>导入</legend>
            <form action="/PageDesigner/Import" id="importForm" method="post" enctype="multipart/form-data">
                <div class="form-group form-horizontal">
                    <div class="form-inline">
                        <input type="file" class="form-control" id="xmlFile" name="xmlFile" />
                        <input type="submit" class="btn btn-danger btn-big" value="导入XML" />
                        <input type="button" onclick="exportPage()" class="btn btn-success btn-big" value="导出当前配置" />
                    </div>
                </div>
            </form>
        </fieldset>
        <fieldset>
            <legend>另存副本</legend>
            <div class="form-group form-horizontal">
                <div class="form-inline">
                    <input type="text" class="form-control" placeholder="副本ID" name="NewPageId" id="NewPageId" />
                    <input type="text" class="form-control" placeholder="副本名称" name="NewPageTitle" id="NewPageTitle" />
                </div>
            </div>

            <button onclick="saveCopy()" class="btn btn-primary btn-big">另存副本</button>
        </fieldset>
        <fieldset>
            <legend>其它</legend>
            <button onclick="addToFunction()" class="btn btn-primary btn-big">发布到功能管理</button>
            <button onclick="clearCache()" class="btn btn-primary btn-big">清除页面缓存</button>
        </fieldset>
        <div id="divToUpdate" style="visibility:hidden"></div>
    </div>
    <script>
        @{ var page = ViewData["page"] as FoxOne.Business.PageEntity;}

        var pageId = '@page.Id';
        var pageTitle = '@page.Title';

        function saveCopy() {
            var param = { id: pageId, newPageId: $("#NewPageId").val(), newPageTitle: $("#NewPageTitle").val() };
            foxOne.dataService("/PageDesigner/Copy", param, function (res) {
                if (res) {
                    alert("复制成功");
                }
            }, "post", true);
        }

        function addToFunction() {
            var url = "/Page/PermissionEdit";
            var param = { Type: 1, Name: pageTitle, Code: pageId, Url: '/Page/' + pageId, Type: 'Page' };
            url = foxOne.buildUrl(url, param);
            $.modal({
                title: '添加到功能管理',
                url: url,
                onClose: function (res) {
                    if (res) {
                        //alert("添加成功！");
                    }
                },
                width: 980,
                height: 600,
                overlayClose: true
            });
        }

        function clearCache() {
            foxOne.dataService("/PageDesigner/CleanCache", { id: pageName }, function (res) {
                if (res) {
                    alert("清除成功!");
                }
                else {
                    alert("页面未缓存！")
                }
            }, "post", true);
        }

        function exportPage() {
            window.open("/PageDesigner/ExportPage/" + pageId);
        }

        function batchExport() {
            window.open("/PageDesigner/BatchExport/" + $("#LastUpdateTime").val());
        }
    </script>
</body>
</html>