@model FoxOne.Web.WorkflowDetailVO
@{
    Layout = null;
}
@using FoxOne.Controls
@using FoxOne.Business.Security
@using FoxOne.Core
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <meta charset="gbk">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/DDStatic/css/reset.css" rel="stylesheet" />
    <link href="~/DDStatic/css/task.css" rel="stylesheet" />
    <link href="~/Mobile/css/weui.css" rel="stylesheet" />
    <link href="~/Mobile/css/style.css" rel="stylesheet" />
    <title>流程审批</title>
    <style>
        .weui-cell__bd input,textarea {
            border: 0px;
            outline:0px;
        }
        .chose-opinion a {
            background-color: #f0ad4e;
            color: white;
        }
        .weui-cell__bd textarea {
            height:150px;
            width:100%;
        }
        .weui-cell__bd span, input {
            width: 100%;
            overflow: hidden;
        }
        a#send {
            background-color: green;
            color: white;
        }
        /*a#pushback {
        }*/
        a#forceend,a#delete {
            background-color: #c9302c;
            color: white;
        }
        a#iniSend, a#backtoroot {
            background-color: #0B98C3;
            color: white;
        }

        .uploader__input-box {
            float: left;
            position: relative;
            margin-right: 9px;
            margin-bottom: 9px;
            margin-left:20px;
            width: 64px;
            height: 64px;
            border: 1px solid #D9D9D9;
        }

            .uploader__input-box:before {
                width: 2px;
                height: 39.5px;
            }

            .uploader__input-box:after {
                width: 39.5px;
                height: 2px;
            }

            .uploader__input-box:before,
            .uploader__input-box:after {
                content: " ";
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                background-color: #D9D9D9;
            }

        .uploader__input {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
    </style>
</head>
<body>
    <div class="check-content">
        <div class="content-head">
            <p class="apply-title">@Model.Title</p>
            <p class="apply-number">NO.@Model.InstanceId</p>
        </div>
        <div class="apply-info">
            @Html.CustomMobileControl(Model.Form)
        </div>

        @*关联页面*@
        @if (!Model.RelatePage.IsNullOrEmpty())
            {
            <style>
                    @foreach (var p in Model.RelatePage)
                    {
                        @p.Style
                    }
            </style>
            foreach (var rp in Model.RelatePage)
            {
                <div class="area">
                    <h2><img src="~/images/form.png" style="height:24px;width:18px;margin-right:6px;" />@rp.Title</h2>
                    @foreach (var c in rp.Children.OrderBy(o => o.Rank))
                    {
                        @Html.CustomControl(c)
                    }
                </div>
            }

            
        }

        @if (Model.ShowAttachment || Model.CanUploadFile)
        {
        <div class="weui-cells">
                <div class="weui-cell add-file-group">
                    @if (Model.ShowAttachment)
                    {
                        foreach (var attachment in Model.Attachment)
                        {
                            <div class="show-add-file" file-url="@attachment.FileId.Trim('~')" islocal="@attachment.IsLocalResource.ToString().ToLower()" ext="@(new FileInfo(attachment.FileName).Extension.ToLower())">
                                <img class="show-file-pic" src="/images/FileIcon/@attachment.Icon" />
                                @if (attachment.FileName.Length <= 5)
                                {
                                    <p class="add-file-name">@attachment.FileName</p>
                                }
                                else
                                {
                                    <p class="add-file-name">@(attachment.FileName.Substring(0, 5) + "...")</p>
                                }
                            </div>
                        }
                    }
                    @*<div class="weui-uploader__input-box"></div>*@
                    @if(Model.CanUploadFile)
                    {
                    <form></form>
                    <form id="uploadForm" name="uploadForm" action="/Attachment/Upload" method="post" enctype="multipart/form-data">
                        <div class="uploader__input-box">
                            <input type="file" name="file" id="file" class="uploader__input" />
                        </div>
                        <input type="hidden" name="relateId" id="relateId" value="@Model.Form.Key" />
                    </form>
                    }
                </div>
            </div>
        }
        <div class="weui-cells opinion-list ">
            <div class="weui-cell chose-opinion">
                @*<a href="javascript:;" class="clickable" id="agree" >同意</a>
                <a href="javascript:;" class="provide-border clickable" id="pushback" >退回</a>
                <a href="javascript:;" class="clickable" id="foreToEnd" >拒绝</a>*@
                @if (Model.ItemId == 1 && Model.WorkItem.FirstOrDefault(c => c.ItemId == 1).Status == FoxOne.Workflow.Kernel.WorkItemStatus.Readed.ToString())
                {
                    <a href="javascript:;" class="clickable" id="iniSend">发送</a>
                }
                else
                {
                    foreach (var btn in Model.ToolbarButtons.OrderBy(o => o))
                    {
                        if (btn == FoxOne.Web.WorkflowButtonType.Save ||
                            btn == FoxOne.Web.WorkflowButtonType.SendOtherToRead)
                        {
                            continue;
                        }
                    <a href="javascript:;" class="clickable" id="@btn.ToString().ToLower()">@btn.GetDescription()</a>
                    }
                }
            </div>
        </div>
        
        <div class="flow-chart">
            @foreach (var item in Model.WorkItem)
            {
                <div class="flow-chart-part">
                    <img class="head-portrait" src="@item.Avatar">
                    <div class="flow-part-content">
                        <div class="part-content-main">
                            <div>
                                <p class="flow-part-title"><span>@item.ActivityName - </span><span>@item.Creator</span></p>
                                <p class="flow-part-time">@item.ShowTime</p>
                            </div>
                            <p class="flow-chart-middle font-color-green">@item.StatusText</p>
                        </div>
                        <p class="extra-info">@item.Opinion</p>
                    </div>
                </div>
            }
        </div>
    </div>
    <input type="hidden" id="opinion" name="opinion" value="" />
    <script src="~/Scripts/zepto.min.js"></script>
    <script src="~/Scripts/Validator/zepto.validation.js?ver=18_01_09_00"></script>
    <script type="text/javascript" src="https://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js"></script>
    <script src="~/DDStatic/js/fastclick.js"></script>
    <script src="~/DDStatic/js/index.js"></script>

    @if (Model.FormPage.StartUpScript.IsNotNullOrEmpty())
    {
        <script>
            $(function () {
                @Html.Raw(Model.FormPage.StartUpScript);
            });
        </script>
    }
    @if (Model.FormPage.ScriptBlock.IsNotNullOrEmpty())
    {
        <script>
            @Html.Raw(Model.FormPage.ScriptBlock);
        </script>
    }
    @if(!Model.RelatePage.IsNullOrEmpty())
    {
        <script>
                    @foreach(var p in Model.RelatePage)
                    {
                         @Html.Raw( p.ScriptBlock)
                    }
        </script>
    }

    <script>

        var logger = { i: function (info) { }, e: function (err) { dd.device.notification.alert({ message: err, title: '异常提示', buttonName: '关闭' }) } };
        var _this = this;

        dd.ready(function () {

            Bind();
            $(".apply-info .datetimepicker.datepicker.timepicker.select-type input").attr("readonly", "readonly");

            dd.biz.navigation.setRight({
                text: '@Sec.User.Name',
                onSuccess: function (data) {
                },
                onFail: function (err) {
                    logger.e(JSON.stringify(err));
                }
            });

            Page.defaultBackEvent();
        });

        $(".clickable").bind("click", function () {
            var btnId = $(this).attr("id");
            if (btnId === "send" || btnId === "iniSend")
            {
                $("form").submit();
            }
            else {
                if (!confirm("您确定吗？")) {
                    return;
                }
                var runParameter = { IsSimulate: '0', Command: btnId, InstanceId: '@Model.InstanceId', ItemId: '@Model.ItemId', OpinionContent: '', OpinionArea: 0, UserChoice: [] };
                @*{ id: '@Model.Form.Key', action: btnId }*@
                RunCommand('/Workflow/ExecCommand', runParameter);
            }
        });

        dd.error(function(err) {
            logger.e('dd error: ' + JSON.stringify(err));
        });

        function goBack() {

            $("#frame").remove();
            dd.biz.navigation.close({
                onSuccess: function (result) { },
                    onFail: function (err) { }
            });
        }

        function RunCommand(url,data) {
            $.ajax({
                url: url,
                data: data,
                type: 'POST',
                dataType: "json",
                success: function (data, status, xhr) {
                    if (data) {
                        var err = data.Result ? "操作成功" : data.ErrorMessage;
                        dd.device.notification.alert({
                            message: err,
                            title: "提示",
                            buttonName: "确认",
                            onSuccess: function () {
                                if (data.Result == true) {
                                    //location = "/Mobile/Index";
                                    dd.biz.navigation.close({
                                        onSuccess: function (result) {
                                        },
                                        onFail: function (err) { }
                                    });
                                }
                            },
                            onFail: function (err) { }
                        });
                    }
                },
                error: function (xhr, errorType, error) {
                    logger.e(errorType + "," + error);
                    alert("操作出错");
                }

            });
        }

        var imgExts=[".jpg",".jpeg",".bmg",".gif",".png",]

        $("#file").bind("change", function () {
            var form = $(this).closest("form");
            var a = {};
            a.file = this.files[0];
            a.relateId = "@Model.Form.Key";
            var formData = new FormData();
            formData.append("relateId", a.relateId);
            formData.append("file", a.file);

            var oReq = new XMLHttpRequest();
            oReq.open("POST", form.attr("action"), true);
            oReq.onload = function (oEvent) {
                if (oReq.status == 200) {
                    alert('附件上传成功');
                    location.reload();
                } else {
                    alert(oReq, status);
                }
            };
            oReq.send(formData);

        });

        $("[file-url]").bind("click", function () {
            var url = $(this).attr("file-url");
            var isLocal = false;
            if ($(this).attr("islocal") === "true") {
                url = "http://oa.3weijia.com/Attachment/Download/" + url;
                isLocal = true;
            }
            else if (!url.startsWith("http://") && !url.startsWith("https://"))
                url = "http://oa.3weijia.com/" + url.replace(new RegExp('^\\~+|\\~+$', 'g'), '');///去除左右的指定字符，就是trim

            if (imgExts.lastIndexOf($(this).attr("ext")) > -1) {
                if (isLocal) {
                    url += "?UserId=@Sec.User.Id";
                }
                dd.biz.util.previewImage({
                        urls: [url],//图片地址列表
                        current: url,//当前显示的图片链接
                        onSuccess: function (result) {
                        },
                        onFail: function (err) { }
                })
            }
            else {
                if (!isLocal) {
                    url = "/Attachment/DownloadTeslaAttchment?datalocator=" + @Model.Form.Key + "&path=" + url;
                }
                Page.go2URL(url);
            }
        });


        function Bind() {
            $('.apply-info .datetimepicker').on('click', function () {
                var node = $(this).find('input');
                var v = node.val().trim();
                dd.biz.util.datetimepicker({
                    format: 'yyyy-MM-dd HH:mm',
                    value: v,
                    onSuccess: function (result) {
                        node.val(result.value);
                    },
                    onFail: function () { }
                });
            });
            $('.apply-info .datepicker').on('click', function () {
                var node = $(this).find('input');
                var v = node.html().trim();
                dd.biz.util.datepicker({
                    format: 'yyyy-MM-dd',
                    value: v,
                    onSuccess: function (result) {
                        node.val(result.value);
                    },
                    onFail: function () { }
                });
            });
            $('.apply-info .timepicker').on('click', function () {
                var node = $(this).find('input');
                var v = node.html().trim();
                dd.biz.util.timepicker({
                    format: 'HH:mm',
                    value: v, //默认显示日期
                    onSuccess: function (result) {
                        node.val(result.value);
                    },
                    onFail: function () { }
                });
            });

            $('.apply-info .select-type').on('click', function () {
                var node = $(this).find('.select');
                var s = $(this).find('input');
                var v = node.html().trim();
                var items = JSON.parse($(this).find("[data-selectItem]").attr("data-selectItem"));
                dd.biz.util.chosen({
                    source: items,
                    selectedKey: v,
                    onSuccess: function (result) {
                        node.html(result.key);
                        s.val(result.value);
                    },
                    onFail: function () { }
                })
            });
        }
        

        function FormAfterSubmit() {
            if ($("#iniSend").length > 0) {///是发起的发送
                if ($("#frame").length == 0) {
                    var iframe = $("<div id='frame' style='position:absolute;top:0px;width:100%;height:100%;'><iframe src='/Mobile/NextStep?InstanceId=@Model.InstanceId&ItemId=@Model.ItemId' width='100%' height='99%' frameborder='0' scrolling='yes'></iframe><div>")
                    iframe.appendTo("body");
                    $(".check-content").hide();
                }
            }
            else//普通的发送
            {
                if ($("#frame").length == 0) {
                    var iframe = $("<div id='frame' style='position:absolute;top:0px;width:100%;height:100%;'><iframe src='/Mobile/Opinion' width='100%' height='99%' frameborder='0' scrolling='yes'></iframe><div>")
                    iframe.appendTo("body");
                    $(".check-content").hide();
                }
            }
        }
        $("#send").text("同意");

        $("body").on("submit", ".apply-info form", function (e) {

            var _this = e.target;
            if ($.validation) {
                var validateInfo = $.validation.validate(_this);
                if (validateInfo.isError) {
                    var ee = $.Event("form.validateError", validateInfo);
                    $(_this).trigger(ee);
                    alert(ee.errorInfo);
                    return false;
                }
            }

            var params = new Object();
            var items = $(this).find("input[type=hidden]," +
                "input[type=text]," +
                "input[type=password]," +
                "textarea," +
                "select," +
                "input[type=radio]:checked," +
                "input[type=checkbox]:checked");

            items.each(function (index) {
                params[this.name] = this.value;
            });
            $.ajax({
                async: true,
                data: params,
                dataType: 'json',
                type: 'post',
                url: $(this).attr('action') + "?_PAGE_ID=" + $(this).attr("pageId") + "&_CTRL_ID=" + $(this).attr("id"),
                success: function (response) {
                    if (response.Result) {
                        if (response.NoAuthority) {
                            alert(response.ErrorMessage);
                        }
                        else {
                            if (response.LoginTimeOut) {
                                alert("登录超时，请重新登录");
                            }
                            else {
                                FormAfterSubmit();
                            }
                        }
                    }
                    else {
                        alert(response.ErrorMessage);
                    }
                },
                error: function (xhr, text, error) {
                    alert(xhr.responseText);
                }
            });
            return false;
        });
    </script>
</body>
</html>
