@model FoxOne.Web.WorkflowDetailVO
@{Layout = null; }
@using FoxOne.Business
@using FoxOne.Controls
@using FoxOne.Core
@using System.Linq
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
    @System.Web.Optimization.Styles.Render("~/style/common.css")
    <link href="~/Scripts/xheditor/xheditor_skin/default/ui.css" rel="stylesheet" />
    <link href="~/Styles/workflowold.css" rel="stylesheet" />
</head>
<body class="easyui-layout">

    <div class="left" id="wfToolbar">
        @foreach (var item in Model.ToolbarButtons.OrderBy(o => o))
        {
            <button class="btn btn-default" id="@item.ToString().ToLower()">
                <em class="icon-@item.ToString().ToLower()"></em>@item.GetDescription()
            </button>
        }
        <button class="btn btn-warning" id="FlowImage">
            <em class="icon-flag"></em>流程图
        </button>
    </div>

    <div class="right main-container">
        <h1>
            <img src="~/images/word.png" style="width:30px;padding:5px;" />
            @Model.Title
        </h1>
        <div class="main-content">
            <div class="area">
                <h2><img src="~/images/form.png" style="height:24px;width:18px;margin-right:6px;" />表单信息</h2>
                <div class="form-number">
                    审批单据号：@Model.InstanceId
                </div>
                @Html.CustomControl(Model.Form)
            </div>
            @if (!Model.RelatePage.IsNullOrEmpty())
            {
                foreach (var rp in Model.RelatePage)
                {
                    <div class="area">
                        <h2><img src="~/images/form.png" style="height:24px;width:18px;margin-right:6px;" />@rp.Title</h2>
                        @foreach (var c in rp.Children.OrderBy(o => o.Rank))
                        {
                            @Html.CustomControl(c)
                        }
                    </div>
                }

                <script>
                    @foreach(var p in Model.RelatePage)
                    {
                        @p.ScriptBlock
                    }
                </script>
            }
            @if (Model.ShowAttachment || Model.CanUploadFile)
            {
                <div class="area">
                    <h2><img src="~/images/attachment.png" style="height:24px;width:15px;" /> 附件信息</h2>
                    @if (Model.CanUploadFile)
                    {
                        <div class="upload-container">
                            <form id="uploadForm" action="/Attachment/Upload" method="post" enctype="multipart/form-data">
                                <input type="file" name="file" id="file" />
                                <input type="hidden" name="relateId" id="relateId" value="@Model.Form.Key" />
                                <button id="uploadFile" class="btn btn-success">
                                    <em class="icon-upload"></em>
                                    上传附件
                                </button>
                            </form>
                        </div>
                    }
                    <div class="attachment-info">
                        @if (Model.ShowAttachment)
                        {
                            foreach (var item in Model.Attachment)
                            {
                            <p class="attachment-item">
                                <a target="_blank" href="/Attachment/Download/@item.FileId">
                                    <img src="~/images/FileIcon/@item.Icon" />
                                </a>
                                <span class="attachment-label">
                                @if (item.IsLocalResource)
                                {
                                    <a class="atta-download" title="@item.FileName" target="_blank" href="/Attachment/Download/@item.FileId">@item.FileName.Substring(16, "...")</a>
                                }
                                else
                                {
                                    if (SysConfig.IsProductEnv)
                                    {
                                        <a class="atta-download" title="@item.FileName" target="_blank" href="~/@item.FileId">@item.FileName.Substring(16, "...")</a>
                                    }
                                    else
                                    {
                                        <a class="atta-download" title="@item.FileName" target="_blank" href="http://oa.3weijia.com/@item.FileId">@item.FileName.Substring(16, "...")</a>
                                    }
                                }
                                    </span><br />
                                <span class="attachment-user-label">@item.CreatorName</span>
                                @if (item.CanDelete)
                                {
                                    <a class="atta-del" href1="/Attachment/Delete/@item.FileId">删除</a>
                                }
                                <br />
                                <span class="attachment-user-label">@item.FileSize</span>
                            </p>
                            }
                        }
                    </div>
                </div>
            }

            @if (Model.ShowWorkItem)
            {
                <div class="area">
                    <h2><img src="~/images/flow.png" style="height:20px;width:20px;margin-right:4px;" />审批信息</h2>
                    @if (Model.ShowOpinionInput)
                    {
                        <p class="opinion-content">
                            <textarea class="form-control" placeholder="输入您的审批意见" id="opinionContent" style="width:90%;height:100px;margin:auto;"></textarea>
                        </p>
                        <p class="opinion-content">
                            <label>快捷意见输入：</label>
                            <a onclick="$('#opinionContent').val('同意')">同意</a>
                            <a onclick="$('#opinionContent').val('不同意')">不同意</a>
                            <a onclick="$('#opinionContent').val('已办理')">已办理</a>
                            <a onclick="$('#opinionContent').val('已阅')">已阅</a>
                        </p>
                    }
                    @foreach (var item in Model.WorkItem)
                    {
                        <div class="work-item">
                            <div class="work-item-left">
                                <p><img src="@item.Avatar" /></p>
                            </div>
                            <div class="work-item-right">
                                <p class="cap"><span class="name">@item.ActivityName - @item.Creator</span><span class="time">@item.ShowTime</span></p>

                                <p class="opinion">
                                    @item.Opinion
                                </p>
                            </div>
                            <div class="work-item-status @item.Status.ToLower()">
                                @item.StatusText
                            </div>
                        </div>
                    }
                </div>
            }

            @if (!Model.NoticeItem.IsNullOrEmpty())
            {
                <div class="area">
                    <h2><img src="~/images/user.png" style="height:20px;width:25px;margin-right:4px;" />已知会人员</h2>
                    @foreach (var item in Model.NoticeItem)
                    {
                        <div class="notice-item">
                            <p>
                                <img src="@item.Avatar" />
                            </p>
                            <p>
                                @item.Creator
                            </p>
                            <p class="status @item.Status.ToLower()">（@item.StatusText）</p>
                        </div>
                    }
                </div>
            }
        </div>
    </div>


    @*<div class="user-select" style="display:none;">
            <h2>
                <img src="~/images/nextstep.png" style="width:40px;height:40px;margin-right:10px;" />
                选择后续步骤及相关参与者
            </h2>
            <div class="user-select-button">
                <button id="btnOK" class="btn btn-success">
                    <em class="icon-send"></em>
                    确定
                </button>
                <button id="btnCancel" class="btn btn-warning">
                    <em class="icon-delete"></em>
                    取消
                </button>
            </div>
            <div class="step-list" id="stepListDiv">
            </div>
        </div>

        <div id="stepTemplate" style="display:none;">
            <div class="step-item {Selected}" needuser="{NeedUser}" allowSelect="{AllowSelect}" alias="{Label}" step="{StepName}" singleSelect="{OnlySingleSel}" autoSelectAll="{AutoSelectAll}">
                <h3>
                    <img src="~/images/{Icon}.png" />
                    {Label}
                </h3>
                <p>
                    {LabelDescription}
                </p>
                <div class="user-list">
                    {UserItem}
                </div>
            </div>
        </div>

        <div id="userItemTemplate" style="display:none;">
            <div class="user-item" userid="{ID}" deptid="{OrgId}" name="{Name}">
                <img src="{Avatar}" />
                <p class="user-name">{Name}</p>
            </div>
        </div>*@

    @System.Web.Optimization.Scripts.Render("~/script/common.js")
    @System.Web.Optimization.Scripts.Render("~/script/widget.js")
    <script src="~/Scripts/xheditor/xheditor-1.2.2.min.js"></script>
    <script src="~/Scripts/xheditor/xheditor_lang/zh-cn.js"></script>
    <script src="~/Scripts/WorkflowUserSelect.js?ver=18_01_08"></script>
    <script type="text/javascript">
        var isSaveAndSend = false;
        foxOne.workflow.runParameter.InstanceId = '@Model.InstanceId';
        foxOne.workflow.runParameter.ItemId = @Model.ItemId;
        foxOne.workflow.runParameter.IsSimulate = '@Model.IsSimulate';
        function autoSize() {
            var height = Math.min($(document).height(), $(window).height());
            $(".right").css("height", height)
            $(".main-content").css("height", height - $(".right>h1").outerHeight());
        }

        $(function () {
            $("#send,#save").removeClass("btn-default").addClass("btn-success");
            autoSize();
            $(window).resize(autoSize);
            $("[TextEditor]").xheditor({
                upImgUrl: "/Default/FileUpload",
                upImgExt: "jpg,jpeg,gif,png,bmp",
                tools: 'simple'
            });

            $("input[disabled],select[disabled],textarea[disabled]").each(function () {
                var el = $(this);
                if (el.attr("type") == "hidden") {
                    return;
                }
                var val = el.val();
                if (val != '' && el.is("select")) {
                    val = el.find("option[selected]").text();
                }
                val = val == "" ? "<span style='color:#aaa;font-style:italic;'>（空）</span>" : val;
                var large = el.is('textarea') ? "style='width:730px;'" : "";
                $("<span class='form-control' " + large + ">" + val + "</span>").appendTo(el.parent());
                el.hide();
            });

            $("#uploadFile").bind("click", function () {
                if ($("#file").val() == "") {
                    foxOne.alert("请选择要上传的文件！");
                }
                else {
                    $("#uploadForm").ajaxSubmit({
                        type: 'post',
                        success: function (response) {
                            window.location.href = window.location.href;
                        },
                        error: function (xhr, text, error) {
                            foxOne.alert(xhr.responseText);
                        }
                    });
                }
                return false;
            });

            $(".atta-del").bind("click", function () {
                if (confirm("您确定删除该附件吗？")) {
                    $.post($(this).attr("href1"), {}, function () {
                        window.location.href = window.location.href;
                    });
                }
            }).css("cursor", "pointer");

            $("body").on("click", "#wfToolbar", function (e) {
                var btn = $(e.target);
                if (!btn.is("button")) return;
                var id = btn.attr("id").toLowerCase();
                var flowEvent = $.Event("before" + id);
                switch (id) {
                    case "flowimage":
                        $.modal({
                            title: '流程流转示意图',
                            width: 1020,
                            height: 650,
                            url: '/WorkflowDesigner/FlowImage/@Model.DefinitionId',
                            overlayClose: true,
                            onClose: function (res) { }
                        });
                        break;
                    case "save":
                        $("[defaultForm]").submit();
                        break;
                    case "saveandsend":
                        isSaveAndSend = true;
                        $("[defaultForm]").submit();
                        break;
                    default:
                        if (foxOne.workflow.runParameter.InstanceId == '') {
                            foxOne.alert("请先保存表单！");
                        }
                        else {
                            if(id=="sendothertoread")
                            {
                                $.modal({
                                    url: '/Page/UserSelector_Copy_Copy', width: 980, height: 600, overlayClose: false, onClose: function (res) {
                                        if (res.length > 0) {
                                            foxOne.dataService('/Workflow/CC', { InstanceId: foxOne.workflow.runParameter.InstanceId, UserIds: res.join(',') }, function (r) {
                                                if (r) {
                                                    foxOne.alert("传阅成功！");
                                                }
                                            }, "post", true);
                                        }
                                    }
                                });
                                return;
                            }
                            foxOne.workflow.runParameter.OpinionContent = $("#opinionContent").val();
                            if (id == "send") {
                                isSaveAndSend = true;
                                $("[defaultForm]").submit();
                            }
                            else {
                                if (!confirm("您确定吗？")) {
                                    return;
                                }
                                foxOne.workflow.exec(id);
                            }
                        }
                        break;
                }
            });
            $("[defaultForm]").bind("form.afterSubmit", function (e) {
                var result = e.d;
                if (result.Insert) {
                    foxOne.workflow.runParameter.InstanceId = result.InstanceId;
                    foxOne.workflow.runParameter.ItemId = result.ItemId;
                    window.location.href = "/Workflow/Index?InstanceId=" + result.InstanceId + "&ItemId=" + result.ItemId;
                }
                else {
                    if (isSaveAndSend) {
                        foxOne.workflow.getNextStep();
                    }
                }
            });

            $(document).on("onBeforeRefresh", "div[widget='Table']", function (e) {
                window.location.reload();
                e.Data = {};
                e.Data.isCancel = true;
            });


            @if(!Model.RelatePage.IsNullOrEmpty())
            {
                foreach(var p in Model.RelatePage)
                {
                    @p.StartUpScript
                }
            }
        });

        @if(!Model.RelatePage.IsNullOrEmpty())
            {
                    foreach(var p in Model.RelatePage)
                    {
                        @p.ScriptBlock
                    }
            }
    </script>
</body>
</html>
